@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  offset: -95;
  duration: 1000;
}
body {
  @apply antialiased;
  margin: 0;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
.header2 {
  @apply font-oswald uppercase md:text-xl lg:text-2xl xl:text-4xl pb-5 lg:pb-10;
}
.header3 {
  @apply font-spartan uppercase md:text-lg lg:text-xl tracking-wide;
}
li {
  @apply ml-5 text-base lg:text-lg font-spartan pb-5;
}
body {
  @apply bg-black;
}
.langbuttons {
  @apply font-spartan text-white md:text-gray-200 hover:text-white transition delay-75 duration-300 ease-in-out;
}
.grid4 {
  @apply grid grid-cols-4 m-0;
}
.message {
  @apply uppercase font-oswald text-3xl xl:text-4xl;
}
.message > b {
  @apply text-red-500;
}
.ltrTextReverse {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}
p {
  @apply font-sans text-base xl:text-xl;
}
.socialsdark {
  @apply text-gray-300 hover:text-gray-50 mr-5 transition delay-75 duration-300 ease-in-out;
}
.socialslight {
  @apply text-gray-700 hover:text-gray-500 mr-5 transition delay-75 duration-300 ease-in-out;
}
